.centerer-outer{
  position: absolute;
  display: table;
  height: 100%;
  width: 100%;
  overflow: hidden;
  
  & .centerer-middle{
    display: table-row;

    
    & .centerer-inner{
      display: table-cell;
      vertical-align: middle;
    }
  }
}
