#root{
  width: 100vw;
  height: 100vh;
  font-family: Raleway;
}

.full-height {
  height: 100%;
}

#app, #route-renderer{
  height: 100%;
}

#app{
  & > h1{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 2vh;
    color: grey;
    font-size: 2.5vh;
  }
}

.page{
  position: relative;
  height: 100%;
}

.content{
  width: 100%;
  max-width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 3.5vh;
  pointer-events: none;

  & h1{
    font-size: 3em;
    font-weight: 300;
    margin: .5em;
    text-transform: uppercase;
  }

  & p{
    margin: 1em;
  }
}
