.thumb-vertical {
  background: grey;
  height: 100%;
  width: 100%;
}

.track-vertical {
  background: lightgray;
  height: 100%;
  width: 1em !important;
  margin: 10 0px;
  bottom: 0;
  right: 0;
}

.grid {
  display: block;
  width: 7em;
  height: 50vh;
  pointer-events: auto;

  & .grid-content {
    & .grid-item {
      float: left;
      width: calc(6em - 20px);
      height: calc(6em - 20px);
      margin: 10px;
      border: 2px solid black;

      &:last-of-type{
        margin-bottom: 0;
      }
      &:first-of-type{
        margin-top: 0;
      }

      &.selected {
        border: 2px solid transparent;
        border-bottom: 2px solid black;
        animation: pulsingBorder 1s infinite;
      }

      &.finished {
        background-color: lightgrey;
        color: white;
        border-color: lightgrey;
      }

      & .grid-item-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        & span{
          pointer-events: none;
          display: inline-block;
        }
      }
    }
  }
}

@keyframes pulsingBorder {
  0% {
    border-bottom-color: #000;
  }
  45% {
    border-bottom-color: #000;
  }
  55% {
    border-bottom-color: #FFF;
  }
  100% {
    border-bottom-color: #FFF;
  }
}
