$padding: 3;
$scrollbar: 4;
$boxSize: 18;
$left: 2vh;

.grid {
  position: absolute;
  top: 12vh;
  left: $left;
  width: #{$boxSize+$padding+$scrollbar}vh;
  height: 88vh;
  
  & .grid-item {
    width: #{$boxSize}vh;
    height: #{$boxSize}vh;
    margin-bottom: 2vh;
    border: $borderWidth solid black;

    &:last-of-type{
      margin-bottom: 0;
    }
    
    &::before,&::after{
      content: '';
      position: absolute;
      background: white;
      transition: all .3s;
    }

    &::before{
      width: 0;
      height: 110%;
      top: -5%;
      left: 50%;
      transform: translateX(-50%);
    }

    &::after{
      width: 110%;
      height: 0;
      top: 50%;
      left: -5%;
      transform: translateY(-50%);
    }

    &.selected:not(.locked) {
      animation: pulsingBorder 1.8s infinite;
    
      &::before{
        width: 60%;
      }

      &::after{
        height: 60%;
      }
      
      & .grid-item-content{
        animation: scaleBack 1.8s infinite;
      }
    }

    &.locked.selected{
      animation: pulsingBackground 1.8s infinite;
      
      & .grid-item-content{
        animation: scaleBack 1.8s infinite;
      }
    }

    &.locked {
      background-color: lightgrey;
      color: white;
      border-color: lightgrey;
      cursor: not-allowed;
    }

    & .grid-item-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      & span{
        display: inline-block;
      }
    }
  }
}


#levels{

  & .title{
    overflow: hidden;
    padding: 0;
    text-align: right;
    padding: 1vh;
    padding-right: 1vh;
    
    &>h1{
      margin: 0;
    }
  }

  & .level-details{
    position: absolute;
    top: 12vh;
    left: 27vh;
    
    width: calc(100vw - 27vh);
    height: 88vh;

    text-align: center;
    
    & .container{
      max-height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      
      & h2{
        font-size: 2em;
      }
    }
  }
}

@media (max-width: 650px){
  #levels{
    $boxSize: 10;
    $left: 0;
    $gridWidth: #{$boxSize+$padding+$scrollbar}vh;

    & .grid {
      left: $left;
      width: $gridWidth;
      
      & .grid-item {
        width: #{$boxSize}vh;
        height: #{$boxSize}vh;
      }
    }

    & .level-details{
      left: $gridWidth;
      width: calc(100vw - #{$gridWidth});

      & .large-button{
        font-size: 1em;
      }
    }
  }
}







// animations

@keyframes scaleBack{
  0%{
    transform: translate(-50%, -50%) scale(1);
  }
  50%{
    transform: translate(-50%, -50%) scale(0.88888);
  }
  100%{
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes pulsingBorder {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.125);
  }
  100%{
    transform: scale(1);
  }
}

@keyframes pulsingBackground {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.125);
  }
  100%{
    transform: scale(1);
  }
}
