#menu{  
  text-align: center;
  
  & #menu-buttons{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  & .large-button{
    // font-size: 6vh;
    margin: 0 auto;
  }
}
