.scrollbar-container-outer{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;

  & .scrollbar-container-middle{
    position: absolute;
    left: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    & .scrollbar-container-inner{
      width: 100%;
      padding-right: 4vh;
    }
  }

  & .scrollbar-track{
    width: 2vh;
    height: calc(100% - 2vh);
    position: absolute;
    right: 1vh;
    top: 1vh;
    cursor: pointer;

    &.hide{
      display: none;
    }

    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: $borderWidth;
      height: 100%;
      background-color: black;
    }

    & .scrollbar-handle{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      border: $borderWidth solid black;
      background-color: white;
      cursor: -webkit-grab;
      cursor: -moz-grab;
      cursor: grab;
    }
  }
}
