.scrollbar-container-outer{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  
  & .scrollbar-container-middle{
    position: absolute;
    left: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    
    &::-webkit-scrollbar {
      display: none;
    }

    & .scrollbar-container-inner{
      width: 100%;
      padding-right: 26px;
    }
  }

  & .scrollbar-track{
    width: 16px;
    height: calc(100% - 10px);
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: row-resize;
    
    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 2px;
      height: 100%;
      background-color: black;
    }
    
    & .scrollbar-handle{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      border: 2px solid black;
      background-color: white;
    }
  }
}
